<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Ayarlar Sayfası</title>
    <link href="~/SettingCss/chartCss.css" rel="stylesheet" />
    <link href="~/SettingCss/pageTabsStyle.css" rel="stylesheet" />
    <link href="~/SettingCss/style.css" rel="stylesheet" />
    <link href="~/SettingCss/notification-style.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

</head>
<body>

    <input type="checkbox" id="sidebar-toggle">
    <div class="sidebar">
        <div class="sidebar-header">
            <h3 class="brand">
                <span>Hmrs Nuget</span>
            </h3>
            <label for="sidebar-toggle" class="ti-menu-alt"></label>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="talepet.html">
                        <span class="ti-target"></span>
                        <span>Talep Et</span>
                    </a>
                </li>
                <li>
                    <a href="index.html">
                        <span class="ti-home"></span>
                        <span>Anasayfa</span>
                    </a>
                </li>
                <li>
                    <a href="calisanlar.html">
                        <span class="ti-user"></span>
                        <span>Çalışanlar</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-pencil-alt"></span>
                        <span>İzinler</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-calendar"></span>
                        <span>Takvim</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-layout-grid3"></span>
                        <span>Uygulamalar</span>
                    </a>
                </li>
                <li>
                    <a href="yorumlar.html">
                        <span class="ti-comments"></span>
                        <span>Yorumlar</span>
                    </a>
                </li>
                <li>
                    <a href="ayarlar.html">
                        <span class="ti-settings"></span>
                        <span>Ayarlar</span>
                    </a>
                </li>
                <li>
                    <div class="notification-icon" onclick="toggleNotifi()">
                        <i class="ti-bell"></i><span>  Bildirimler</span>
                    </div>
                    <div class="notification-box" id="box">
                        <h2>Yeni Bildirimler <span>3</span></h2>
                        <div class="notification-item">
                            <div class="text">
                                <h4>Özgür Baybaş</h4>
                                <p>Yeni Yeni bir çok bildirim</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="">
                        <span class="ti-power-off"></span>
                        <span>Çıkış Yap</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <div class="search-wrapper">
                <span class="ti-search"></span>
                <input type="search" placeholder="Birşeyler Ara :)">
            </div>
        </header>
        <main>
            <button class="tablink" onclick="openPage('sistemAyarlari', this)">Sistem Ayarları</button>
            <button class="tablink" onclick="openPage('sirketBilgileri', this)">Şirket Bilgileri</button>
            <button class="tablink" onclick="openPage('kurallar', this)" id="defaultOpen">Kurallar</button>
            <button class="tablink" onclick="openPage('tatilTakvimleri', this)">Tatil Takvimleri</button>
            <button class="tablink" onclick="openPage('veriAktar', this)">Veri Aktar</button>
            <button class="tablink" onclick="openPage('gelistiriciAyarlari', this)">Geliştirici Ayarları</button>
            <button class="tablink" onclick="openPage('diger', this)">Diğer</button>

            <div id="sistemAyarlari" class="tabcontent">
                <h3>Sistem Ayarlari</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div id="sirketBilgileri" class="tabcontent">
                <h3>Şirket Bilgileri</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div id="kurallar" class="tabcontent">
                <h3>Kurallar</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div id="tatilTakvimleri" class="tabcontent">
                <h3>Tatil Takvimleri</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div id="veriAktar" class="tabcontent">
                <h3>Veri Aktar</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div id="gelistiriciAyarlari" class="tabcontent">
                <h3>Geliştirici Ayarları</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div id="diger" class="tabcontent">
                <h3>Diğer</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

        </main>
    </div>
</body>
</html>
<script src="~/PageScripts/chartJs.js"></script>
<script src="~/PageScripts/pageTabsScript.js"></script>
<script src="~/PageScripts/script.js"></script>
