<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="~/PageScripts/LVFScript.js"></script>
    <title>Login Form jquery</title>
</head>
<body>
    <div class="container">
        <form class="form-horizontal" id="form1">
            <fieldset>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="Email">Email</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                            <input id="Email" name="Email" type="text" placeholder="Enter Your Email" class="form-control input-md">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="Password">Password</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input id="password" name="password" type="password" placeholder="Enter Your Password" class="form-control input-md">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="Submit"></label>
                    <div class="col-md-4">
                        <button id="Submit" class="btn btn-success" onclick="Login()">Giriş Yap</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</body>
</html>
<script>
    var apiUrl = "http://localhost:11404";
    function Login() {
        var loginDTO = {
            "email": $("#Email").val(),
            "password": $("#password").val()
        };
        $.ajax({
            url: apiUrl + "/api/User/Login/",
            type: "POST",
            data: { "loginDTO": loginDTO },
            success: function (response) {
                $.ajax({
                    url: "/Login/LoginUser/" + response.id,
                    type: "GET",
                    success: function (response) {
                        window.location.href = "/PersonalPage/Index/";
                    }
                })
            }
        })
    }
</script>
